<app-header (search)="searchUsers($event)" ></app-header>
<div class="user-list">
  <h1 class="title">Usuários cadastrados</h1>
  <a mat-mini-fab class="btn-new">
    <i class="material-icons buttonAdd" (click)="openAddUserModal()">add</i>
  </a>
  <div class="user-card" *ngFor="let user of users">
    <div class="custom-card">
      <div class="user-info">
        <div class="left">
          <i class="material-icons user-icon ">person</i>
          <h3>{{ user.name }}</h3>
        </div>
        <p class="center">{{ user.email }}</p>
        <div class="right">
          <a (click)="deleteUser(user.id)">
            <i class="material-icons buttonDelete">delete</i>
          </a>
          <a (click)="openEditUserModal(user.id)">
            <i class="material-icons buttonEdit">edit</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
